:root{
	--mainColor:#51546E;
	--secondaryColor:#3F4156;

	--borderColor:#696969;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(45, 45, 57, 0.8);
	--previewShadow:#8B8B8B;


	--buttonColor:#70C5DC;


}
